:root {
    --clr-background: #008b47;
    --clr-primary: #f8cd24;
    --clr-secondary: #6bb64a;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--clr-background);
    font-size: 20px;
    text-shadow: 1px 1px #fff;
}
.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.mainContent {
    display: flex;
    flex-direction: column;
}
.formContainer {
    display: flex;
    height: 100px;
    font-size: 1.25em;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    border: 1px ridge black;
    margin: 15px;
    padding: 15px;
    background-color: var(--clr-primary);
}
.tableContainer {
    justify-self: center;
    align-self: center;
}
table {
    border-collapse: collapse;
    border: 3px solid black;
    font-size: 1.5em;
    background-color: var(--clr-primary);
}
th,
tr,
td {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
