:root {
    --clr-background: #008b47;
    --clr-primary: #f8cd24;
    --clr-secondary: #6bb64a;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: 3fr, 2fr;
    grid-template-columns: repeat(1fr, 3fr);
}
table {
    border-collapse: collapse;
    border: 3px solid black;
}
th,
tr,
td {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
